{% extends 'home_templates/base.html' %}
{% block content %}

<!-- <form action="" method="post">
    {% csrf_token %}
    Enter TRX :{{ form.amount }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form> -->

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">

            <label for="username">Amount: </label>
            {{ form.amount }}<br>

            <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone
                else.</small>
        </div>


        <center><button class="btn btn-primary" type="submit">Submit</button>
            <center>
    </div>
</form>

{% endblock content %}
